/* Responsive Breakpoints-Screen-Size-Desktop*/

@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }

  .wrapper-section {
    padding: 50px 0;
  }

  header {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .toggle-bar-icon {
    display: block;
  }

  .nav-icons img {
    width: 24px;
    height: 24px;
  }
  .hero-banner h1{
    font-size:52px;
    line-height:59px;
  }

  .footer-column-row {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 922px) {
  .hero-banner h1{
    font-size:48px;
    line-height:57px;
  }

  .footer-column-row {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* Responsive Breakpoints-Screen-Size-Tablet*/


@media (max-width: 768px) {
  .wrapper-section {
    height: auto;
  }

  .hero-banner {
    flex-direction: column;
  }
  .hero-banner h1{
    font-size:38px;
    line-height:52px;
  }

  .hero-text-left,
  .hero-right-book-appointment-form {
    max-width: 100%;
  }

  .hero-banner h1,
  .hero-banner h4 {
    text-align: center;
  }

  .btn-group {
    flex-direction: column;
    gap: 40px;
  }

  .appointment-form {
    margin-top: 40px;
    gap: 0px;
    width: 100%;
    height: auto;
  }

  .team-row,
  .card-row {
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
  }

  .contact-us-section {
    padding: 0;
  }


  .contact-appointment-form {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }

  .form-group {
    flex-direction: column;
  }

  .contact-text p {
    padding-bottom: 50px;
  }

  .contact-us {
    width: 50%;
    max-width: 100%;
  }

  .contact-appointment-form button {
    width: 100%;
  }

  .contact-row {
    flex-direction: column;
    align-items: center;
  }

  .footer-column-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .subscribe-form input {
    max-width: calc(100% - 112px);
  }

  .copyright-text p {
    text-align: center;
    font-weight: 500;
  }
}

@media (max-width: 546px) {


  .footer-column-row {
    grid-template-columns: 1fr;
  }


}


/* Responsive Breakpoints-Screen-Size-Mobile*/


@media (max-width: 425px) {
  .mobile-menu-nav-links {
    height: 100vmin;
  }

  .hero-banner h1 {
    font-size: 34px;
    line-height:47px;
  }

  .text-center h2,
  .contact-us-section h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .contact-text h3 {
    font-size: 22px;
    line-height: 28px;
  }

  .contact-us {
    width: 100%;
    max-width: 100%;
  }

  .subscribe-form {
    width: 100%;
  }

  .footer {
    padding: 20px 10px;
  }
}

@media (max-width: 375px) {
 .hero-banner h1 {
    font-size: 30px;
    line-height:39px;
  }
  .hero-banner h4{
    font-size:18px;
    line-height:26px;
    padding:30px 0;
  }
}

@media (max-width: 320px) {
  .hero-banner h1 {
    font-size:28px;
    line-height:37px;
  }
  .text-center h2,
  .contact-us-section h2 {
    font-size: 22px;
    line-height: 30px;
  }

  .contact-text h3 {
    font-size: 20px;
    line-height: 26px;
  }

  .footer {
    padding: 20px 10px;
  }
}